var newComment = $("<%= escape_javascript(render(:partial => @comment)) %>").hide();
$('#comments').prepend(newComment);
$('#comment_<%= @comment.id %>').fadeIn('slow');
$('#new_comment')[0].reset();
